* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 4fr;
  grid-auto-rows: 100px;
}

/* .box1{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1; 
    grid-row-end: 3;  
    border: 1px solid red;
  } */

.box1,
.box2,
.box3,
.box4,
.box5 {
  border: 1px solid blue;
  color: red;
  overflow: hidden;
}

/* .box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 1px solid blue;
  }
  
  .box2 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
  } */




  
  
  @media (max-width: 768px) {
      .wrapper {
    grid-template-columns: 1fr;
  }
  .box1,
.box2,
.box3,
.box4,
.box5 {
  color: black;
 
}

}

  





@media (max-width: 600px) {
    
    .box1,
  .box2,
  .box3,
  .box4,
  .box5 {
    color: green;
   
  }
  
  }